<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../../../template/css/style.css">
        <title>{--Title--}</title>
    </head>

    <body>
        <div class="card">
            <div class="profile-container">
                <img src="{--ProfilePicture--}" id="pfp">
                <div class="twithandle">
                    <p id="DisplayName">{--Display Name--}</p>
                    <p id="Username">{--Username--}</p>
                </div>
            </div>
            
            <div class="content">
                {--Body--}
            </div>
            <a href="../../index.html">Return to index</a>
        </div>
    </body>
</html>